$fonts-dir: '@assets/fonts/roboto';

$fontRegular: 'Roboto-Regular', 'SFUIText-Regular', 'Helvetica', 'Arial', sans-serif;
$fontLight: 'Roboto-Light', 'SFUIText-Regular', 'Helvetica', 'Arial', sans-serif;
$fontMedium: 'Roboto-Medium', 'SFUIText-Regular', 'Helvetica', 'Arial', sans-serif;
$fontBold: 'Roboto-Bold', 'SFUIText-Regular', 'Helvetica', 'Arial', sans-serif;
$fontBlack: 'Roboto-Black', 'SFUIText-Regular', 'Helvetica', 'Arial', sans-serif;
$fontThin: 'Roboto-Thin', 'SFUIText-Regular', 'Helvetica', 'Arial', sans-serif;
$fontItalic: 'Roboto-Italic', 'SFUIText-Regular', 'Helvetica', 'Arial', sans-serif;

$brownGrey: #4a4a4a;
$redByKaspi: #f14635;
$muddyRed: #b23327;
$blue: #0089d0;
$white: #fff;
$mediumGrey: #a8a8a8;
$lightGrey: #ddd;
$navy: #286090;
$muddyNavy: #204d74;
$grey: #74777b;
$slightlyWhite: #f5f5f5;
$slightlyGrey: #e5e5e5;
$gold: #d5ae6c;
$blueGray: #aeafb6;