.registration-page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  height: 100vh;
}

.registration-container {
  width: 530px;
  min-height: 470px;
  height: auto;
  padding: 50px 40px;
  background: $white;
  display: flex;
  flex-direction: column;
  border-radius: 6%;
}
