.p-card {
  border-radius: 10px;
  height: max-content;
  opacity: 0;
  transition: 0.3s;
  animation: show 0.3s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

@keyframes show {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.vacancy__header {
  display: flex;
}

.vacancy__header-text {
  margin: 25px 30px 0 15px;
  color: #23272a;
  font-size: x-large;
}

.vacancy__content {
  width: 45em;
}

.field {
  margin-bottom: 1.5em;
}

.field>label {
  display: block;
  margin-bottom: 0.5rem;
}

.inputs_first {
  width: 20em;
}

.inputs_second {
  width: 30em;
}

.form_list .input_list {
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  outline: none;
}

.form-_ist .input_list:focus {
  border: 1px solid rgb(22, 160, 240);
}

.form_list .btn_list {
  color: #fff;
  border-radius: 8px;
  width: 174px;
}

ul li::marker {
  margin-top: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;;
  line-height: 1.2;
  color: #5c6a6a;
  cursor: pointer;
  transition: color .25s ease;
  letter-spacing: 1.2;
}

span {
  margin: 5px;
}

.spinner-centred {
  position: absolute;
  left: 60%;
  top: 40%;
}