.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  h1 {
    color: #171515;
    font-size: 70px;
    margin-bottom: 20px;
  }
}